# MAT281 - Laboratorio N°03

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información de distintos usuarios (edad ,sexo, profesión, etc.).

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [4]:
import pandas as pd
import os

In [7]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|").set_index('user_id')
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1.- ¿Cuál es el número de observaciones en el conjunto de datos?

In [8]:
print("el numero de observaciones es:\n", df.shape[0])

el numero de observaciones es:
 943

2.- ¿Cuál es el número de columnas en el conjunto de datos?

In [9]:
print("el numero de columnas es:\n", df.shape[1])

el numero de columnas es:
 4

3.- Imprime el nombre de todas las columnas

In [10]:
for i in range(df.shape[1]):
    print(df.columns[i])

age
gender
occupation
zip_code

4.- Imprima el índice del dataframe

In [11]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

5.- ¿Cuál es el tipo de datos de cada columna?

In [12]:
df.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6.- Describir el conjunto de datos (**hint**: .describe())

In [13]:
df.describe

<bound method NDFrame.describe of          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]>

7.- Imprimir solo la columna de **occupation**.

In [14]:
df["occupation"]

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

8.- ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [15]:
ocupaciones=df["occupation"].unique()
print(ocupaciones.shape[0])

21

9.- ¿Cuál es la ocupación más frecuente?

In [17]:
df.describe(include="all")["occupation"]["top"]

'student'

10.- ¿Cuál es la edad media de los usuarios?

In [18]:
print(df["age"].mean())

34.05196182396607

11.- ¿Cuál es la edad con menos ocurrencia?

In [27]:
age_l=df["age"].unique()
f=pd.Series()
for i in age_l:
    c=0
    for j in df["age"]:
        if i==j:
            c+=1
    f.loc[i]=c
fmin=f.min()
mask=f==fmin

#print(f[mask])
print ("las edades con menos frecuencia son:")

for i in f[mask].index:
    print (i)

las edades con menos frecuencia son:
7
66
11
10
73

<ipython-input-27-15a584f8e442>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  f=pd.Series()

12.- Encontrar la edad promedio según la variable **occupation**

In [31]:

o=df["occupation"].unique()
for i in o:
    cant=0
    suma=0
    k=1
    for j in df["occupation"]:
        if i==j:
            suma+=df["age"][k]
            cant+=1
        k+=1
    prom=suma/cant
    print("La edad promedio de la ocupacion", i, "es",prom )

La edad promedio de la ocupacion technician es 33.148148148148145
La edad promedio de la ocupacion other es 34.523809523809526
La edad promedio de la ocupacion writer es 36.31111111111111
La edad promedio de la ocupacion executive es 38.71875
La edad promedio de la ocupacion administrator es 38.74683544303797
La edad promedio de la ocupacion student es 22.081632653061224
La edad promedio de la ocupacion lawyer es 36.75
La edad promedio de la ocupacion educator es 42.01052631578948
La edad promedio de la ocupacion scientist es 35.54838709677419
La edad promedio de la ocupacion entertainment es 29.22222222222222
La edad promedio de la ocupacion programmer es 33.121212121212125
La edad promedio de la ocupacion librarian es 40.0
La edad promedio de la ocupacion homemaker es 32.57142857142857
La edad promedio de la ocupacion artist es 31.392857142857142
La edad promedio de la ocupacion engineer es 36.38805970149254
La edad promedio de la ocupacion marketing es 37.61538461538461
La edad promedio de la ocupacion none es 26.555555555555557
La edad promedio de la ocupacion healthcare es 41.5625
La edad promedio de la ocupacion retired es 63.07142857142857
La edad promedio de la ocupacion salesman es 35.666666666666664
La edad promedio de la ocupacion doctor es 43.57142857142857

## Problema 02


<img src="https://image.freepik.com/vector-gratis/varios-automoviles-dibujos-animados_23-2147613095.jpg" width="360" height="360" align="center"/>


EL conjunto de datos se denomina `Automobile_data.csv`, el cual contiene información tal como: compañia, precio, kilometraje, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [32]:
# cargar datos
df = pd.read_csv(os.path.join("data","Automobile_data.csv")).set_index('index')
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. Elimine los valores nulos (Nan)

In [52]:
df=df.dropna()
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

2. Encuentra el nombre de la compañía de automóviles más cara

In [59]:
#si consideramos la compañia mas cara como la que vende el auto mas caro
Max=df.describe(include="all")["price"]["max"]
cont=1
for i in df["company"]:
    if df["price"][1]==Max:
        print("La compañia mas cara es:",i)
    cont+=1

In [54]:

#si consideraremos la compañia mas cara aquella que en promedio vende el auto mas caro
o=df["company"].unique()
Max=0
M=0
for i in o:
    cant=0
    suma=0
    k=1
    for j in df["company"]:
        if i==j:
            suma+=df["price"][k]
            cant+=1
        k+=1
    prom=suma/cant
    if prom>=Max:
        Max=prom
        M=i
        
print("La compañia mas cara es", M)

KeyError: 7

3. Imprimir todos los detalles de Toyota Cars

In [60]:
print(df[df["company"]=="toyota"])

      company body-style  wheel-base  length engine-type num-of-cylinders  \
index
66     toyota  hatchback        95.7   158.7         ohc             four
67     toyota  hatchback        95.7   158.7         ohc             four
68     toyota  hatchback        95.7   158.7         ohc             four
69     toyota      wagon        95.7   169.7         ohc             four
70     toyota      wagon        95.7   169.7         ohc             four
71     toyota      wagon        95.7   169.7         ohc             four
79     toyota      wagon       104.5   187.8        dohc              six

       horsepower  average-mileage    price
index
66             62               35   5348.0
67             62               31   6338.0
68             62               31   6488.0
69             62               31   6918.0
70             62               27   7898.0
71             62               27   8778.0
79            156               19  15750.0

4. Cuente el total de automóviles por compañía

In [33]:
c=df["company"].unique()
for i in c:
    cont=0
    for j in df["company"]:
        if i==j:
            cont+=1
    print("el numero de automoviles en la compañia", i, "es", cont)

el numero de automoviles en la compañia alfa-romero es 3
el numero de automoviles en la compañia audi es 4
el numero de automoviles en la compañia bmw es 6
el numero de automoviles en la compañia chevrolet es 3
el numero de automoviles en la compañia dodge es 2
el numero de automoviles en la compañia honda es 3
el numero de automoviles en la compañia isuzu es 3
el numero de automoviles en la compañia jaguar es 3
el numero de automoviles en la compañia mazda es 5
el numero de automoviles en la compañia mercedes-benz es 4
el numero de automoviles en la compañia mitsubishi es 4
el numero de automoviles en la compañia nissan es 5
el numero de automoviles en la compañia porsche es 3
el numero de automoviles en la compañia toyota es 7
el numero de automoviles en la compañia volkswagen es 4
el numero de automoviles en la compañia volvo es 2

5. Encuentra el coche con el precio más alto por compañía

In [55]:
c=df["company"].unique()
for i in c:
    p=0
    k=1
    for j in df["company"]:
        if i==j:
            if df["price"][k]>=cont:
               p=df["price"][k]
        k+=1
    print("el precio mas alto de la compañia", i, "es", p)

el precio mas alto de la compañia alfa-romero es 13950.0

KeyError: 7

6. Encuentre el kilometraje promedio (**average-mileage**) de cada compañía automotriz

In [56]:
c=df["company"].unique()
for i in c:
    cont=0
    suma=0
    k=1
    for j in df["company"]:
        if i==j:
            cont+=1
            suma+=df["average-mileage"][k]
        k+=1
    prom=suma/cont
    print("el kilometraje promedio de la compañia", i, "es", prom)

el kilometraje promedio de la compañia alfa-romero es 21.333333333333332

KeyError: 7

7. Ordenar todos los autos por columna de precio (**price**)

In [61]:
df=df.sort_values(by=["price"])
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0

## Problema 03


Siguiendo la temática de los automóviles, resuelva los siguientes problemas:

### a) Subproblema 01
A partir de los siguientes diccionarios:

In [68]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'],
              'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 
                'Price': [29995, 23600, 61500 , 58900]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
* Concatene ambos dataframes (**carsDf**) y añada una llave ["Germany", "Japan"], según corresponda.

In [69]:
carsDf1 = pd.DataFrame(GermanCars)
carsDf2 = pd.DataFrame(japaneseCars)
pd.concat([carsDf1,carsDf2])

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900

### b) Subproblema 02

A partir de los siguientes diccionarios:

In [71]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
*  Junte ambos dataframes (**carsDf**) por la llave **Company**.

In [72]:
carsDf1 = pd.DataFrame(Car_Price)
carsDf2 = pd.DataFrame(car_Horsepower)
pd.concat([carsDf1,carsDf2])

  Company     Price  horsepower
0  Toyota   23845.0         NaN
1   Honda   17995.0         NaN
2     BMV  135925.0         NaN
3    Audi   71400.0         NaN
0  Toyota       NaN       141.0
1   Honda       NaN        80.0
2     BMV       NaN       182.0
3    Audi       NaN       160.0